.header {
  padding-top: 8px;
}

.header_burger, .header_mob {
  display: none;
}

.msk_games .wrapp {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.msk_games .wrapp .inner {
  margin-bottom: 40px;
}

body {
  margin: 0;
}

.ov-hidden {
  overflow: hidden;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
  line-height: 1.1;
  margin: 40px 0;
}

.breadcrumbs_link {
  color: #A6B0C5;
}

.breadcrumbs_link.active {
  color: #34373D;
}

.breadcrumbs_arrow {
  margin: 0 6px;
}

.games {
  padding-bottom: 110px;
}

.games_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.games_top-title {
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
  color: #34373d;
  margin-right: auto;
}

.games_top-select {
  margin-right: 20px;
}

.games_top-select select {
  border-radius: 10px;
  background: #fff;
  padding: 13px 25px;
  border: none;
  width: 236px;
}

.games_top-button {
  background: #EAEDF2;
  border-radius: 10px;
  padding: 13px 34px;
  font-size: 16px;
  font-weight: 700;
  color: #34373D;
}

.games_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.games_item {
  width: 48%;
  margin-right: 2%;
  margin-bottom: 40px;
  padding: 60px;
  background: #fff;
  border-radius: 20px;
}

.games_item-img {
  width: 100%;
}

.games_item-img img {
  border-radius: 10px;
}

.games_item-name {
  margin-top: 40px;
  font-size: 32px;
  font-weight: 700;
  color: #34373d;
  margin-bottom: 10px;
}

.games_item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.games_item-infoblock + .games_item-infoblock {
  margin-left: 8px;
}

.games_item-infoblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.games_item-infoblock span {
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  color: #34373d;
}

.games_item-desc {
  margin-top: 26px;
  font-size: 16px;
  line-height: 1.2;
}

.games_item-bottom {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.games_item-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.games_item-socials a + a {
  margin-left: 10px;
}

.games_item-button {
  font-size: 18px;
  font-weight: 700;
  color: #f3bd55;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.games_item-button:hover {
  color: #ECA41A;
}

.games_item-button:hover svg path {
  stroke: #ECA41A;
}

.games_item-button svg {
  margin-left: 5px;
}

.games_item-button svg path {
  -webkit-transition: .3s;
  transition: .3s;
}

.games_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination_button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 15px;
  border: 1px solid transparent;
}

.pagination_button a svg {
  display: block;
}

.pagination_button a:hover {
  border: 1px solid #BDD3FF;
  border-radius: 2px;
}

.pagination_prev {
  margin-right: 10px;
}

.pagination_prev svg {
  margin-right: 5px;
}

.pagination_next {
  margin-left: 10px;
}

.pagination_next svg {
  margin-left: 5px;
}

.pagination_item + .pagination_item {
  margin-left: 9px;
}

.pagination_link {
  padding: 7px 14px;
  -webkit-transition: .3s;
  transition: .3s;
  border: 1px solid transparent;
}

.pagination_link:hover {
  border: 1px solid #BDD3FF;
  border-radius: 2px;
}

.pagination_link.active {
  background: #BDD3FF;
  border-radius: 2px;
}

.pagination_link.active:hover {
  border: 1px solid transparent;
}

.info_title {
  font-size: 36px;
  line-height: 1.15;
  margin-bottom: 25px;
}

.info_text {
  font-size: 16px;
  line-height: 1.15;
}

.info_subtitle {
  margin-top: 80px;
  line-height: 1.15;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 40px;
}

.info_item-text {
  margin-bottom: 20px;
  font-size: 16px;
}

.info_item-img {
  margin-bottom: 50px;
}

@media (max-width: 1199.9px) {
  .container {
    max-width: 960px;
  }
  .header_logo {
    max-width: 190px;
  }
  .header_menu {
    font-size: 16px;
  }
  .header_menu a {
    font-size: 16px;
  }
  .header_button .button {
    font-size: 14px;
  }
  .header_socials li:not(:last-child) {
    margin-right: 5px;
  }
  .header_socials svg {
    width: 30px;
    height: 30px;
  }
  .header_nav nav {
    margin-left: 25px;
  }
  .header_nav .menu_list li:not(:last-child) {
    margin-right: 15px;
  }
  .slider_img {
    margin-top: 35px;
  }
  .big_slider .slick-dots {
    top: 30%;
    right: 0;
    left: auto;
  }
  .big_slider .slick-dots li button {
    border: none;
    width: 12px;
    height: 12px;
  }
  .big_slider .slick-dots li.slick-active button {
    width: 16px;
    height: 16px;
    background: #224A9A;
    border: none;
  }
  .transform_games .wrapp::before {
    top: 22%;
  }
  .transform_games .inner.right {
    margin-left: 0;
    max-width: 100%;
    margin-top: 30px;
  }
  .big_video .left {
    margin-left: 20px;
  }
  .big_video .left::after {
    left: -20px;
    top: 88px;
  }
  .big_video .right {
    right: 77px;
    bottom: -120px;
  }
  .msk_games .wrapp .inner {
    max-width: 245px;
  }
  .big_learning .big_block {
    width: 440px;
  }
  .big_learning .small_block {
    width: 380px;
  }
  .learning_socials svg {
    width: 40px;
    height: auto;
  }
  .registration .ttl {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .registration .links {
    margin-top: 25px;
  }
  .registration .wrapp:nth-child(2) {
    display: none;
  }
  .registration .wrapp .inner {
    max-width: 31%;
  }
  .registration .wrapp .inner:nth-child(3) ~ .inner {
    display: none;
  }
}

@media (max-width: 991.9px) {
  .container {
    max-width: 760px;
  }
  .header {
    position: relative;
  }
  .header_nav {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .header_nav nav {
    margin-left: 0;
  }
  .header_nav a {
    font-size: 16px;
  }
  .header_nav .menu_list {
    margin-bottom: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header_nav .menu_list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .header_mob {
    position: absolute;
    right: -100%;
    top: 0;
    height: 100vh;
    width: 455px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 999;
    padding: 20px 60px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .header_mob.active {
    right: 0;
  }
  .header_mob .header_logo {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    margin-bottom: 30px;
  }
  .header_location {
    margin-bottom: 30px;
    margin-top: 40px;
  }
  .header_search {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-right: 0;
    width: 100%;
  }
  .header_search .input {
    margin-right: 0;
    margin-left: 12px;
  }
  .header_socials {
    margin-bottom: 20px;
  }
  .header_button {
    margin-top: 10px;
  }
  .header_button .button {
    width: 100%;
    text-align: center;
  }
  .header_button .button.button_white {
    margin-left: 0;
  }
  .header_burger {
    background-color: #FFFFFF;
    border-radius: 100%;
    z-index: 1000;
    position: relative;
    width: 42px;
    height: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
    outline: none !important;
  }
  .header_burger .top-line, .header_burger .middle-line, .header_burger .bottom-line {
    width: 18px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    height: 1px;
    background-color: #34373D;
  }
  .header_burger .middle-line {
    margin: 6px 0;
  }
  .header_burger.active .top-line {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: 0px;
  }
  .header_burger.active .bottom-line {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: -14px;
  }
  .header_burger.active .middle-line {
    margin-left: -60px;
    opacity: 0;
  }
  .big_video .right {
    right: 15px;
  }
  .big_video .video {
    width: 100%;
    height: 425px;
  }
  .big_video iframe {
    width: 100%;
    height: auto;
  }
  .msk_games .ttl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .msk_games .links {
    margin-top: 20px;
  }
  .msk_games .wrapp .inner {
    max-width: none;
    width: 40%;
  }
  .msk_games .wrapp .inner.squre {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .msk_games .wrapp .inner:nth-child(4) ~ .inner {
    display: none;
  }
  .learning .learning_socials ul {
    margin-right: 0;
  }
  .learning .learning_socials li {
    margin-right: 15px;
  }
  .big_learning .learning::after {
    bottom: -55px;
    left: -35px;
    width: 80px;
    height: 80px;
  }
  .big_learning .learning {
    padding: 0;
    background: 0;
  }
  .big_learning .big_block, .big_learning .small_block {
    background: #9EBCF9;
  }
  .big_learning .big_block {
    width: 400px;
  }
  .big_learning .small_block {
    width: 280px;
  }
  .registration .wrapp .inner {
    background-color: transparent;
  }
  .registration .wrapp .inner .img {
    width: 100%;
    background-position: center 0;
    height: 200px;
    border-radius: 10px 10px 0 0;
  }
  .registration .wrapp .inner .person {
    background: #fff;
    padding: 12px 20px 16px 20px;
    margin-left: 0;
    border-radius: 0 0 10px 10px;
  }
  .transform_games .wrapp::after {
    left: 0;
  }
  .transform_games .inner {
    padding-left: 55px;
  }
  .transform_games .inner.right {
    padding-left: 0;
  }
}

@media (max-width: 767.9px) {
  .container {
    max-width: 530px;
  }
  .slider__item {
    display: block;
  }
  .slider_button {
    width: 100%;
  }
  .slider_button .button {
    width: 100%;
    text-align: center;
  }
  .slider_text {
    max-width: 100%;
    margin-right: 0;
  }
  .big_slider .slick-dots {
    bottom: 15px;
    top: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .big_slider .slick-dots button {
    background: #FFFFFF;
  }
  .big_slider .slider .slick-arrow.slick-prev {
    left: 10px;
    bottom: 10px;
    top: auto;
    right: auto;
  }
  .big_slider .slider .slick-arrow.slick-next {
    right: 10px;
    bottom: 10px;
    top: auto;
    left: auto;
  }
  .transform_games .inner {
    padding-left: 0;
  }
  .transform_games .bg {
    max-width: 100%;
  }
  .transform_games .bg.down {
    margin: 0;
    margin-top: 10px;
    max-width: 100%;
  }
  .transform_games .wrapp::before {
    width: 58px;
    height: 57px;
    top: 42%;
  }
  .transform_games .wrapp::after {
    display: none;
  }
  .big_video .txt {
    padding: 25px 50px 25px 30px;
  }
  .big_video .video {
    height: 295px;
  }
  .big_video .left {
    margin-left: 0;
  }
  .big_video .left::after {
    width: 60px;
    height: 48px;
  }
  .big_video .right {
    top: 0;
    bottom: auto;
    right: 0;
    width: 180px;
  }
  .msk_games .wrapp .inner {
    width: 100%;
  }
  .msk_games_button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .msk_games_button .games_button {
    width: 100%;
  }
  .msk_games_button .button {
    width: 100%;
    text-align: center;
    display: block;
  }
  .msk_games_button .button_blue {
    margin-top: 10px;
    margin-left: 0;
  }
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .big_learning .wrapp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .big_learning .big_block {
    height: 191px;
    width: 100%;
  }
  .big_learning .small_block {
    height: 124px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .learning_socials {
    margin-top: 15px;
  }
  .registration_button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .registration_button .reg_button {
    width: 100%;
  }
  .registration_button .reg_button .button {
    width: 100%;
    text-align: center;
  }
  .registration_button .reg_button .button_blue {
    margin-left: 0;
    margin-top: 10px;
  }
  .registration .wrapp {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .registration .wrapp .inner {
    max-width: none;
    width: 48%;
    margin-bottom: 10px;
  }
  .registration .feedback {
    margin-bottom: 0;
  }
  .registration .feedback img {
    width: 13px;
    height: 14px;
  }
  .registration .feedback .inner {
    width: auto;
  }
}

@media (max-width: 576.9px) {
  .container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .breadcrumbs {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .header_mob {
    width: 100%;
    padding: 20px;
    overflow: auto;
  }
  .big_slider {
    margin-top: 20px;
  }
  .big_slider h1 {
    font-size: 36px;
  }
  .big_slider .txt {
    font-size: 16px;
    margin: 15px 0 20px 0;
  }
  .transform_games {
    margin-top: 70px;
    padding-bottom: 60px;
  }
  .transform_games .wrapp::before {
    top: 32%;
  }
  .transform_games h2 {
    font-size: 25px;
    margin-bottom: 25px;
    line-height: 1.1;
  }
  .transform_games .bg {
    padding: 25px;
    font-size: 15px;
  }
  .transform_games .right .txt {
    font-size: 16px;
  }
  .transform_button {
    width: 100%;
  }
  .transform_button .button_gold {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    display: block;
  }
  .big_video .left {
    width: 70%;
  }
  .big_video .left::after {
    left: -12px;
    top: 79px;
  }
  .big_video .txt {
    font-size: 14px;
    line-height: 1.1;
  }
  .big_video .right {
    width: 129px;
  }
  .big_video .video {
    height: 198px;
  }
  .big_video_play img {
    width: 48px;
    height: 48px;
  }
  .msk_games {
    margin-top: 120px;
  }
  .msk_games_button {
    margin-top: 0;
  }
  .msk_games .wrapp .inner.cube::before, .msk_games .wrapp .inner.squre::before {
    width: 70px;
    height: 60px;
    top: -30px;
    right: -15px;
  }
  .msk_games .wrapp .inner.squre {
    margin-bottom: 0;
  }
  .msk_games .feedback .inner {
    width: auto;
    margin-bottom: 0;
  }
  .msk_games .feedback img {
    width: 17px;
    height: 17px;
  }
  .big_learning {
    margin-top: 60px;
    border-radius: 0;
    padding: 60px 0;
  }
  .big_learning .learning {
    margin-bottom: 60px;
  }
  .big_learning .learning .ttl h2, .big_learning .registration .ttl h2 {
    font-size: 25px;
    line-height: 1.15;
  }
  .big_learning .registration .ttl {
    margin-bottom: 30px;
  }
  .big_learning .registration_button {
    margin-top: 25px;
  }
  .info_title {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .info_subtitle {
    font-size: 18px;
    margin-top: 45px;
    margin-bottom: 15px;
  }
  .info_item-text {
    font-size: 14px;
  }
}
